* {
    font-family: sans-serif;
    margin: 0;
}


main {
    display: grid;
    grid-template-areas: 'header'
        'content'
        'footer';
}

header {
    grid-area: header;
    background-color: #2d3e50;
    color: white;
    height: 62px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    position: fixed;
}

.item-header:first-child {
    flex-grow: 2;
    margin-left: 28px;
}

.item-header:nth-child(n + 3) {
    color: #6FBEF3;
}

.item-header:last-child {
    margin-right: 10px;
}

.item-header {
    flex-basis: 70px;
    margin-top: 20px;
}

.title {
    font-size: 120%;
}

.content {
    grid-area: content;
    margin-top: 60px;
    width: 100%;
    height: 450px;
    background-color: #1f8dd6;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .text-center {
    border: 3px solid white;
    margin: 0;
    width: 682px;
    height: 140px;
    border-radius: 5px;
}

.text-center p {
    font-size: 300%;
    padding-top: 45px;
    text-align: center;
}

.content .information {
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.content .get-started {
    margin-top: 20px;
    height: 70px;
    width: 220px;
    height: 40px;
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
    border: none;
}

footer {
    grid-area: footer;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #111;
    color: #7f8c8d;
    text-align: center;
    height: 62px;
}

footer p {
    margin-top: 20px;
}